.home-section{
    display: flex;
    flex-direction: column;
    gap:1rem;
    flex-wrap: wrap;
    font-family: "Gilroy-Light";
    width:450px;

    .title{
        font-size:50px;
        font-family: "Gilroy-Bold";
        font-weight: 900;
    }

    .description{
        flex-wrap: wrap;
        font-size:small;
        color: grey;
        width:380px;
    }

    .button{
        width: fit-content;
        border-radius:50px;
        display: flex;
        align-items: center;
        color:white;
        padding:10px 25px;
        cursor: pointer;

        .home-section-btn{
            border:none;
            color:white;
            outline:none;
            font-size:small;
            cursor: pointer;
        }
        .arrow-icon{
            font-size:small;
        }
    }
}