@font-face {
  font-family: Gilroy;
  font-weight: bold;
  src: url(../../Assets/fonts/Gilroy-ExtraBold.woff)
}
@font-face {
  font-family: Gilroy;
  src: url(../../Assets/fonts/Gilroy-Light.woff)
}
.Achievement-section{
  overflow-x: hidden;
}
.achievement-img {
  background-image: url(../../Assets/images/achievement.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 17vw;
  width: 100vw;
  display: flex;
  align-items: center;
  .achievement-heading {
    color: white;
    margin-left: 100px;
    font-size: 3.5vw;
    font-family: Gilroy;
    letter-spacing: 0.7px;
  }
}
.middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .search {
    display: flex;
    align-items: center;
    .search-bar {
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: 100px;
      width: 450px;
      height: 45px;
      border: 1px solid rgba(152, 162, 179, 1);
      border-radius: 8px;
      display: flex;
      align-items: center;
      .search-icon {
        margin: 0 10px;
        color: rgba(152, 162, 179, 1);
      }
      .search-text {
        color: rgba(152, 162, 179, 1);
        font-family: Gilroy;
      }
    }
    .search-button {
      height: 45px;
      width: 140px;
      margin-left: 20px;
      background-color: rgba(16, 113, 255, 1);
      border: none;
      border-radius: 30px;
      color: white;
      font-size: 15px;
      font-family: Gilroy;
    }
  }
  .filter {
    display: flex;
    margin-right: 100px;
  }
}

.achievement-cards {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  .radio-button{
    margin-left: 80px;
  }
  .achievement-image {
    margin: 0 20px;
    height: 100px;
    width: 100px;
  }
}
.achievement-details {
  font-family: Gilroy;
  .achievement-name {
    display: flex;
    align-items: center;
    .achievement-logo {
      height: 30px;
      width: 30px;
    }
  }
}

@media (max-width: 1016px) {
  .middle {
    .search {
      .search-bar {
        margin-left: 30px;
        width: 40vw;
        height: 45px;
      }
      .search-button {
        height: 45px;
        width: 15vw;
        margin-left: 20px;
        color: white;
        font-size: 15px;
      }
    }
    .filter {
      margin-right: 30px;
    }
  }

  .achievement-cards {
    padding-right: 100px;
    .radio-button{
        margin-left: 60px;
    }
  }
}
@media (max-width: 665px) {
  .achievement-img {
    height: 130px;
    width: 100vw;
    .achievement-heading {
      margin-left: 0;
      margin: auto;
      font-size: 35px;
    }
  }
}

@media (max-width: 649px) {
  .middle {
    .search {
      .search-bar {
        width: 200px;
        height: 55px;
      }
      .search-button {
        height: 45px;
        width: 100px;
        margin-left: 20px;
        color: white;
        font-size: 15px;
      }
    }
    .filter {
      margin-right: 30px;
    }
  }
}
@media (max-width: 587px) {
    .achievement-cards {
        padding-right: 100px;
        .radio-button{
            margin-left: 40px;
        }
      }
  }
@media (max-width: 487px) {
  .middle {
    .search {
      .search-bar {
        width: 160px;
        height: 55px;
        .search-text {
          font-size: 12px;
        }
      }
      .search-button {
        height: 35px;
        width: 70px;
        margin-left: 20px;
        color: white;
        font-size: 15px;
        margin-right: 15px;
      }
    }
    .filter {
      margin-right: 30px;
    }
  }
}
