
.upperleft{
    text-transform: capitalize;
    font-size: 42px;
    
    margin-left: 40px ;
    width: 50%;
}
.upper{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
}
.upperright{
    width: 40%;
    margin-left: 20px;
    margin-right: 30px;
    margin-top: 50px;
    font-size:25px ;
    

}
.cards img{
    height: 380px;
    width:288px;
    border-radius: 0.7pc;
}

.cards{
    height:24pc;
    width:18pc;
    position: relative;
    margin-right: 3pc;
    margin-top: 5pc;
   
    border: 2px solid transparent;
    /* margin-top: 30px ; */
}
.desc{
    background-color: rgb(10, 10, 117);
    color: white;
    width:17.9pc;
    padding-left: 5px;
    padding-top: 5px;
    /* padding-bottom: 10px; */
    height: 106.3px;
    text-align: left;
    position: absolute;
    border-radius:0 0 1pc 1pc;
    /* margin-top: 2pc; */
    /* margin-bottom: 78pc; */
    top:17pc;
}
/* .des{
     background-color: navy;
     width:150px;
}
.des h4{
    text-transform: capitalize;
    font-size: large;
    margin-bottom: 2px;

}
.des h6{
    text-transform: capitalize;
    font-size: medium;
  


} */
.icon1{
   width:20%;
}
.lower{
    
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-left: 7pc;
   
      
}

.desc h3{

    margin-left: 1.2pc;
    margin-bottom: 1.2pc;
  
}
.desc p{
    font-size: larger;
    margin-left:5px;
}
#icon{
    /* margin-bottom: 15pc; */
    margin-top:4.5pc;
    position: absolute;
    float: right;
    top:1px;
    font-size: 20px;
    left:15pc;
}
@media(max-width:1200px){
      

    .cards img{
        height: 280px;
        width:200px;
     }
    .lower{
         margin-left: 4pc;
    }
   .desc{
        
        width:12.5pc;
        padding-left: 2px;
        height: 90px;
        text-align: left;
        position:absolute;
        top:12pc;
    }
 .desc p{
        font-size: large;
        
    }
    .cards{
        height:20pc;
        width:15pc;
}
@media(max-width:751px)   
{
    .upperleft{
        font-size: 26px;
        margin-left: 20px ;
        width: 50%;
    }

    .upperright{
        
       width: 40%;
        font-size:16px ;
    }

    .upper{
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    } 

    .lower{
        display: flex;
        flex-direction: column;
        margin-left: 7pc;
    }
 
    .cards img{
        height: 380px;
        width:288px;
        border-radius: 0.7pc;
    }


    .cards{
        height:24pc;
        width:18pc;
        position: relative;
        margin-right: 3pc;
        margin-top: 5pc;
      
        border: 2px solid transparent;
        
    }
    .desc{
        background-color: rgb(10, 10, 117);
        color: white;
        width:17.9pc;
        padding-left: 5px;
        padding-top: 5px;
        height: 105px;
        text-align: left;
        position: absolute;
        border-radius:0 0 1pc 1pc;
        top:17pc;
    }

    .icon1{
        width:20%;
     }

     .desc h3{
        margin-left: 1.2pc;
        margin-bottom: 1.2pc;
      
    }
    .desc p{
        font-size: larger;
        margin-left:5px;
    }
    #icon{
        /* margin-bottom: 15pc; */
    margin-top:4.5pc;
        position: absolute;
        float: right;
     top:1px;
        font-size: 20px;
        left:15pc;
    }

  


}

@media(max-width:430px){


    .cards img{
        height: 280px;
        width:200px;
     }
    .lower{
         margin-left: 4pc;
    }
   .desc{
        
        width:12.5pc;
        padding-left: 2px;
        height: 86px;
        text-align: left;
        position:absolute;
        top:12pc;
    }
 .desc p{
        font-size: large;
        
    }
    .cards{
        height:20pc;
        width:15pc;
        margin-right: 2pc;
      }
    
      .desc h3{
          margin-bottom: 0.4pc;
      
    }

}
}