.projectsDetails {
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 1);
    box-sizing: border-box;
}

.projectsDetails-header {
    background-image: url("../../Assets/images/Rectangle\ 11.png");
    padding: 0;
    margin: auto;
    left: 0;
    background-repeat: n0-repeat;
    height: 15rem;
    width: 100%;
    background-size: cover;
    min-width: 1600px;
    position: relative;
    z-index: 1;
}
.menuicon{
    position: absolute;
    margin-top: 3rem;
    right: 6rem;
  }

.projectsDetails-text {
    position: absolute;
    top: 5rem;
    left: 5rem;
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: .2rem;
    z-index: -1;
}

.projectsDetails-text1 {
    position: absolute;
    top: 7rem;
    left: 5rem;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .3rem;
    word-spacing: .5rem;
    color: rgba(228, 231, 236, 1);
    z-index: -1;
}

.detail-card {
    display: flex;
    flex-direction: column;
    width: 134.6px;
    height: 147px;
    border-radius: 5;
    background-color: rgba(255, 255, 255, 1);
    border: 8px;
    margin-left: 3rem;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.detail-img img {
    width: 133px;
    height: 104px;
    border-radius: 4px;
}

.detail-content {
    display: flex;
    flex-direction: row;
}

.detail-content .detail-text {
    margin-top: .5rem;
    margin-left: 1rem;
}

.detail-text h1 {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: left;
    width: 53px;
    height: 15px;
}

.detail-text h2 {
    font-size: 7px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 0em;
    text-align: left;
}

.detail-icon {
    width: 2px;
    height: 2px;
    margin-top: .6rem;
    margin-left: 2rem;
    gap: 4.0px
}

.projectsDetails-detail {
    margin-top: 4rem;
    margin-left: 4rem;
    margin-bottom: 0;
    margin-right: 4rem;
}

.projectsDetails-section1 {
    display: flex;
    flex-direction: row;
}

.projectsDetail-text {
    padding-right: 2rem;
}

.projectsDetail-text p {
    //styleName: Body/Regular/Regular;
    width: 700px;
    height: 270px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
}

.projectsDetails-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 3rem;
    grid-gap: 16px;
}
.projectsCards {
    margin-left: -40px;
    padding-left: 0px;
}

.projectsDetails-container{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}
.projectsDetails-context {
    width: 160px;
    height: 28px;
    margin-top: -2rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 4rem;

}

.projectsDetails-img2 img {
    width: 700px;
    height: 424px;
    border-radius: 20px;
}

.projectsDetails-text2 {
    margin-top: 3rem;
}

.projectsDetails-text2 p {
    width: 700px;
    height: 510px;
    font-family: Gilroy;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: justified;
}

.cards {
    margin-top: -7rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.cards h1 {
    margin-bottom: 0rem;
    margin-left: 4rem;
    font-size: 28px;
}

.cardContainer {
    margin-top: 1rem;
    margin-left: 2%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 1200px;
}

.blog-card {
    height: 14rem;
    width: 22rem;
    background-color: rgba(255, 255, 255, 1);
    border: 8px;
    margin-left: 3rem;
    border-radius: .7rem;
    box-shadow: 4px 4px 24px 0px rgba(0, 0, 0, 0.08);
}

.card-img img {
    height: 10rem;
    width: 22rem;
}

.card-title h2 {
    font-size: 1.1rem;
    text-align: center;
    justify-content: center;
    display: flex;
    margin-top: 0rem;
}

.card-desc p {
    top: .3rem;
    font-size: .6rem;
    text-align: center;
    justify-content: center;
    display: flex;
}

/* Responsive */



@media screen and (max-width:1400px) {
    .blog-card {
        margin-top: 3rem;
        align-items: center;
        justify-content: center;
    }

    .projectsDetails-header {
        min-width: 1100px;
    }
    .projectsDetails-text2 p {
        width: 700px;
        height: 600px;
}
}

@media screen and (max-width:1300px) {
    .projectsDetails-text p {
        width: 841px;
    }

    .projectsDetails-img2 img {
        width: 680px;
    }

    .projectsDetails-text2 p {
        width: 680px;
        height: 625px;
    }
    .cards h1 {
        margin-left: 5rem
    }
}

@media screen and (max-width:1200px) {
    .cardContainer {
        margin-left: 2rem;
    }

    .projectsDetails-header {
        min-width: 1390px;
    }
.projectsDetail-text p{
    width: 841px;
}
.projectsDetails-img2 img{
    width: 841px;
}
.projectsDetails-text2 p{
    width: 841px;
    height: 560px;
}
    .cards h1 {
        margin-left: 13rem;
    }
.projectsDetails-container{
    margin-left: 2rem;
}
    .blog-card {
        margin-top: 3rem;
        margin-left: 6rem;
        align-items: center;
        justify-content: center;
        height: 21rem;
        width: 28rem;
    }

    .card-img img {
        height: 14rem;
        width: 28rem;
    }

    .card-title h2 {
        margin: .9rem;
        font-size: 1.5rem;
    }

    .card-desc p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: .9rem;
    }
}



@media screen and (max-width:600px) {
    .blog-card {
        margin-top: 2rem;
        margin-left: 5rem;
        align-items: center;
        justify-content: center;
    }

    .search-blog {
        margin: 3rem
    }

    .projectsDetails-header {
        min-width: 800px;
    }

    .cardContainer {
        margin-top: -1.5rem;
    }
}


@media screen and (max-width:1000px) {
    .projectsDetails-img2 img {
        width: 700px;
    }

    .projectsDetails-text2 p {
        width: 700px;
        height: 630px;
    }
    .projectsDetail-text p{
        width: 700px;
    }

    .projectsDetails-img {
        margin-right: 1rem;
    }

    .cards h1 {
        margin-left: 12rem;
    }

    .projectsDetails-header {
        height: 15rem;
        min-width: 1280px;
    }

    .cardContainer {
        margin-left: 0rem;
    }

    .blog-card {
        margin-top: 3rem;
        margin-left: 6rem;
        align-items: center;
        justify-content: center;
        height: 21rem;
        width: 27rem;
    }

    .card-img img {
        height: 14rem;
        width: 27rem;
    }

    .card-title h2 {
        margin: .9rem;
        font-size: 1.5rem;
    }

    .card-desc p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: .9rem;
    }
}

@media screen and (max-width:750px) {
    .projectsDetails-header {
        min-width: 1530px;
        background-size: cover;
    }

    .projectsDetails-text p {
        width: 800px;
        margin-bottom: 2rem;
    }

    .detail-card {
        margin-left: 13rem;
    }

    .cardContainer {
        margin-left: 14rem;
        margin-top: 2rem;
    }

    .cards h1 {
        width: 20rem;
        margin-left: 25rem;
        margin-top: 2rem;
    }

    .projectsDetails-img2 img {
        width: 800px;
        height: 424px;
    }

    .projectsDetails-text2 p {
        width: 800px;
        height: 550px;
    }

    .blog-card {
        margin-top: 3rem;
        margin-left: 6rem;
        align-items: center;
        justify-content: center;
        height: 24rem;
        width: 34rem;
    }

    .card-img img {
        height: 17rem;
        width: 34rem;
    }

    .card-title h2 {
        margin: .9rem;
        font-size: 1.5rem;
    }

    .card-desc p {
        margin-left: 1rem;
        margin-right: 0rem;
        font-size: .9rem;
    }
    .projectsDetail-text p{
        width: 800px;
    }
.projectsDetails-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 1rem;
    grid-gap: 16px;
}
.projectsCards {
    margin-left: -205px;
    padding-left: 0px;
}

.projectsDetails-container{
    display: flex;
    flex-direction: column;
    margin-left: 16rem;
}
.projectsDetails-context {
    width: 160px;
    height: 28px;
    margin-top: -2rem;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 1rem;
    margin-left: 4rem;

}
}

@media screen and (max-width:700px) {
    .blog-card {
        margin-top: 2rem;
        margin-left: 5rem;
        align-items: center;
        justify-content: center;
    }


    .projectsDetails-header {
        max-width: 200px;
    }

    .cardContainer {
        margin-top: -1.5rem;
    }
}



@media screen and (max-width:450px) {
    .blog-card {
        margin-top: 4rem;
        align-items: center;
        justify-content: center;
        margin-left: 2rem;
    }

    .projectsDetails-text p {
        width: 860px;
        margin-bottom: 3rem;
    }

    .cards h1 {
        width: 20rem;
        margin-left: 35rem;
        margin-bottom: 2rem;
    }

    .projectsDetails-header {
        min-width: 1520px;
    }

    .projectsDetails-img2 img {
        width: 860px;
    }

    .projectsDetails-text2 p {
        width: 860px;
        height: 550px;
    }

    .cardContainer {
        margin-left: 20rem;
    }

    .card-img img {
        height: 17rem;
        width: 34rem;
    }

    .card-title h2 {
        margin: .9rem;
        font-size: 1.5rem;
    }

    .card-desc p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: .9rem;
    }
}

@media screen and (max-width:380px) {
    .blog-card {
        margin-top: 3rem;
        margin-left: 12rem;
        align-items: center;
        justify-content: center;
        height: 24rem;
        width: 34rem;
    }

    .cardContainer {
        margin-left: 10rem;
    }

    .projectsDetails-text p {
        width: 795px;
        margin-bottom: 3rem;
    }

    .projectsDetails-img2 img {
        width: 795px;
    }

    .projectsDetails-text2 p {
        width: 795px;
        height: 550px;
    }

    .projectsDetails-header {
        height: 18rem;
    }

    .projectsDetails-header .projectsDetails-text {
        margin-top: 4rem;
        font-size: 3rem;
    }

    .projectsDetails-header .projectsDetails-text1 {
        margin-top: 4rem;
        font-size: 3rem;
    }


    .card-img img {
        height: 17rem;
        width: 34rem;
    }

    .card-title h2 {
        margin: .9rem;
        font-size: 1.5rem;
    }

    .card-desc p {
        margin-left: 1rem;
        margin-right: 1rem;
        font-size: .9rem;
    }
    .projectsDetails-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 4rem;
        grid-gap: 20px;
    }
    .projectsCards {
        margin-left: -205px;
        padding-left: 0px;
    }
    
    .projectsDetails-container{
        display: flex;
        flex-direction: column;
        margin-left: 3rem;
    }
    .projectsDetails-context {
        width: 160px;
        height: 28px;
        margin-top: -2rem;
        font-size: 20px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
        margin-bottom: 1rem;
        margin-left: 4rem;
    
    }
}