.navbar {
  padding: 1em 5%;
  font-family: 'Gilroy-Light';

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar__right {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  .navbar__text {
    margin-right: 20px;
  }

  .navbar__menu:hover {
    cursor: pointer;
  }
}
