.navbar{
    padding:10px 5%;
	display: flex;
	justify-content: space-between;
	font-family: "Gilroy-Light";
    align-items: center;
    
    .navbar__right{
        display: flex;
	    align-items: center;
        gap:2rem;
    }

    .navbar__text {
        margin-right: 20px;
    }
    
    .navbar__menu:hover {
        cursor: pointer;
    }
}
