.aboutUs-container{
    margin-top:0.1rem;
}
.aboutUs-topBox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height:40vh;
}
.aboutUs-topBox img{
    height:30vh;
}
.aboutUs-topCenteredBox{
    margin:0px 80px;
}
.aboutUs-centeredBox{
    display:flex;
    flex-wrap:wrap;
    gap:1.5rem;
    padding: 0px 80px;
    // height:60vh;
}
.aboutUs-b{
    flex:1 1 10rem;
    overflow:hidden;
    background-color: darkgrey;
    height:50vh;
}
.box2{
    margin-top: 10vh;
}
.box4{
    margin-top: 10vh;
}
.abooutUs-text{
    flex-wrap: wrap;
}

@media(max-width:1024px){
    .aboutUs-centeredBox{
        flex-wrap: nowrap;
    }
    .aboutUs-b{
        height:40vh;
    }
}
@media(max-width:912px){
    .aboutUs-centeredBox{
        flex-wrap:wrap;
    }
    .aboutUs-b{
        height:50vh;
    }
}